.pcontainers {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 150px;
    margin-top: 180px;
}

.pcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.pimgcont {
    -webkit-box-shadow: 0px 0px 37px 11px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 0px 37px 11px rgba(0, 0, 0, 0.61);
    border: black 1px solid;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.imgpro {
    border-radius: 30px;
    width: 100%;
    width: 500px;
    height: 500px;
}

.contenido1 {
    margin-left: 100px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
}

.imgval {
    width: 20px;
    width: 20px;
}

.btncompra {
    margin-top: -85px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: rgb(0, 0, 0) 5px solid;
    width: 180px;
    -webkit-box-shadow: 5px 5px 10px 3px #000000;
    box-shadow: 5px 5px 10px 3px #000000;
    transition: 0.5s;
}

.btncompra:hover {
    background-color: black;
    color: white;
    border-bottom: rgb(0, 0, 0) 5px solid;
}

.selectunit {
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    width: 80px;
    transition: 0.5s;
    margin-left: 15px;
}

.selectunit:hover {
    background-color: black;
    color: white;
}

