.pcontainers {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 150px;
    margin-top: 180px;
}

.pcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media only screen and (max-width: 875px) {
    .pcontainers {
        justify-content: center !important;
    }
}

.pimgcont {
    -webkit-box-shadow: 0px 0px 37px 11px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 0px 37px 11px rgba(0, 0, 0, 0.61);
    border: black 1px solid;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.imgpro {
    border-radius: 30px;
    max-width: 100%;
    width: 500px;
    height: 500px;
}

@media only screen and (max-width: 995px) {
    .pimgcont {
        text-align: start !important;
    }
}

@media only screen and (max-width: 768px) {
    .pimgcont {
        max-width: 450px !important;
        max-width: 450px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 520px) {
    .pimgcont {
        max-width: 350px !important;
        max-height: 350px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 340px) {
    .pimgcont {
        max-width: 250px !important;
        max-height: 250px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 340px) {
    .pimgcont {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 520px) {
    .imgpro {
        max-width: 350px !important;
        max-height: 350px !important;
    }
}

@media only screen and (max-width: 340px) {
    .imgpro {
        max-width: 250px !important;
        max-height: 250px !important;
    }
}

.contenido1 {
    margin-left: 100px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
}

@media only screen and (max-width: 995px) {
    .contenido1 {
        margin-top: 30px !important;
        margin-right: 100px !important;
    }
}

@media only screen and (max-width: 420px) {
    .contenido1 {
        margin-top: 30px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}

.imgval {
    width: 20px;
    width: 20px;
}

.btncompra {
    margin-top: -85px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: rgb(0, 0, 0) 5px solid;
    width: 180px;
    -webkit-box-shadow: 5px 5px 10px 3px #000000;
    box-shadow: 5px 5px 10px 3px #000000;
    transition: 0.5s;
}

.btncompra:hover {
    background-color: black;
    color: white;
    border-bottom: rgb(0, 0, 0) 5px solid;
}

@media only screen and (max-width: 1500px) {
    .btncompra {
        margin-top: 15px !important;
    }
}

@media only screen and (max-width: 420px) {
    .btncompra {
        margin: auto !important;
    }
}

.selectunit {
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    width: 80px;
    transition: 0.5s;
    margin-left: 15px;
}

.selectunit:hover {
    background-color: black;
    color: white;
}
