.productoscont {
    margin-top: 80px;
    margin-bottom: 200px;
    font-family: "Roboto", sans-serif;
}

.sideynav {
    text-align: start;
    margin-bottom: 445px;
    scroll-behavior: smooth !important; 
    font-family: "Roboto", sans-serif;
}

.flexcardp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.containerbtns {
    padding: 10px 10px 10px 10px;
    font-family: "Roboto", sans-serif;
}

.titulosp {
    margin-left: 85px;
    margin-right: 85px;
    text-align: start !important;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
}

.cardsp {
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 30px;
    -webkit-box-shadow: 5px 5px 10px 3px #000000;
    box-shadow: 5px 5px 10px 3px #000000;
    border-radius: 15px !important;
    transition: 0.4s !important;
    width: 320px !important;
    max-height: 550px;
    min-height: 550px;
    margin-bottom: 42px;
    font-family: "Roboto", sans-serif;
}

.module {
    width: 250px;
    margin: 0 0 1em 0;
    overflow: hidden;
    font-size: 15px;
}

.module p {
    margin: 0;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cardtitulo {
    margin-top: 5px;
    border-bottom: solid rgb(175, 174, 174) 0.5px;
}

.cardsp:hover {
    -webkit-box-shadow: 5px 5px 10px 3px #a2c8e0;
    box-shadow: 5px 5px 10px 3px #95b5ca;
    transition: 0.s;
}

.cardpimg {
    border-radius: 15px !important;
    border-bottom: 3px gray solid;
    width: 319px;
    height: 320px;
    object-fit: contain;
}

@media only screen and (max-width: 367px) {
    .titulosp {
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 450px) {
    .cardpimg {
        max-width: 249px;
        max-height: 250px;
    }
}

@media only screen and (max-width: 450px) {
    .module {
        width: 200px;
    }
}

@media only screen and (max-width: 450px) {
    .cardsp {
        max-width: 250px;
        max-height: 350px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.carritobut:hover {
    color: white;
}

.caracteristicas {
    list-style: none;
}

@media only screen and (max-width: 991px) {
    .containerbtns {
        margin-top: 105px;
    }
}

@media only screen and (max-width: 374px) {
    .containerbtns {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 460px) {
    .containerbtns {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 460px) {
    .containerbtns a {
        margin-top: 15px;
    }
}


@media only screen and (max-width: 451px) {
    .titulosp {
        text-align: center !important;
    }
}

