.productoscont {
    margin-top: 80px;
    margin-bottom: 200px;
}

.sideynav {
    text-align: start;
    margin-bottom: 445px;
}

.flexcardp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    text-decoration: none;
}

.cardsp {
    margin-right: 60px;
    margin-left: 60px;
    -webkit-box-shadow: 5px 5px 10px 3px #000000;
    box-shadow: 5px 5px 10px 3px #000000;
    border-radius: 15px !important;
    transition: 0.4s;
    width: 320px !important;
}

@media only screen and (max-width: 450px) {
    .cardsp {
        max-width: 250px;
        max-height: 350px;
        margin-right: 0px;
        margin-left: 0px;
    }
}   

.cardtitulo {
    margin-top: 5px;
    border-bottom: solid rgb(175, 174, 174) 0.5px;
}

.cardsp:hover {
    -webkit-box-shadow: 5px 5px 10px 3px #55a7dd;
    box-shadow: 5px 5px 10px 3px #55a7dd;
}

.cardpimg {
    border-radius: 15px !important;
    border-bottom: 3px gray solid;
    width: 319px;
    height: 320px;
}


@media only screen and (max-width: 450px) {
    .cardpimg {
        max-width: 249px;
        max-height: 250px;
    }
}   

.carritobut:hover {
    color: white;
}

.caracteristicas {
    list-style: none;
}
