.carritocss {
  -webkit-box-shadow: 5px 5px 10px 3px #a7a7a7;
  box-shadow: 5px 5px 10px 3px #a7a7a7;
  margin-bottom: 10px;
  transition: 0.5s;
}

.producto {
  -webkit-box-shadow: 5px 5px 10px 3px #a7a7a7;
  box-shadow: 5px 5px 10px 3px #a7a7a7;
  margin-bottom: 10px;
  transition: 0.8s;
}

.detalle {
  -webkit-box-shadow: 5px 5px 5px 3px #a7a7a7;
  box-shadow: 5px 5px 5px 3px #a7a7a7;
  margin-bottom: 10px;
}

.pagotarjeta {
  -webkit-box-shadow: 5px 5px 10px 3px #a7a7a7;
  box-shadow: 5px 5px 10px 3px #a7a7a7;
  margin-bottom: 10px;
  transition: 0.5s;
}

.enviodomicilio {
  -webkit-box-shadow: 5px 5px 10px 3px #a7a7a7;
  box-shadow: 5px 5px 10px 3px #a7a7a7;
  margin-bottom: 10px;
  transition: 0.5s;
}
