.bodycarrito {
  font-family: "Roboto", sans-serif;
}

.carritocss {
  -webkit-box-shadow: 5px 5px 10px 3px #a7a7a7;
  box-shadow: 5px 5px 10px 3px #a7a7a7;
  margin-bottom: 10px;
  transition: 0.5s;
}

.producto {
  -webkit-box-shadow: 5px 5px 10px 3px #a7a7a7;
  box-shadow: 5px 5px 10px 3px #a7a7a7;
  margin-bottom: 10px;
  transition: 0.8s;
}

.detalle {
  -webkit-box-shadow: 5px 5px 5px 3px #a7a7a7;
  box-shadow: 5px 5px 5px 3px #a7a7a7;
  margin-bottom: 10px;
}

.pagotarjeta {
  -webkit-box-shadow: 5px 5px 10px 3px #a7a7a7;
  box-shadow: 5px 5px 10px 3px #a7a7a7;
  margin-bottom: 10px;
  transition: 0.5s;
}

.enviodomicilio {
  -webkit-box-shadow: 5px 5px 10px 3px #a7a7a7;
  box-shadow: 5px 5px 10px 3px #a7a7a7;
  margin-bottom: 10px;
  transition: 0.5s;
}

.carritorespon3 {
  display: flex !important;
  flex-direction: row !important;
}

.botoneliminar {
  margin: auto;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  justify-content: flex-end;
}

.containercardcarrito {
  display: flex;
  flex-wrap: wrap;
}

.cardcarrito {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width: 460px;
  height: 250px;
  margin-bottom: 30px !important;
  box-shadow: gray 2px 2px 2px 2px;
  margin: auto;
}

@media only screen and (max-width: 992px) {
  .carritoresp {
      display: none !important;
  }
}

@media only screen and (max-width: 390px) {
  .carritoresp2 {
      width: 180px !important;
      margin: auto !important;
      margin-right: 500px !important;
  }
}

@media only screen and (max-width: 390px) {
  .carritorespon3 {
    display: flex !important;
      flex-wrap: wrap !important;
  }
}
