.Carro img{
    margin: auto;
    width: 1700px;
    max-height: 800px;
    border-radius: 50px;
  }

.Carro {
  margin-top: 50px;
}

.Carro h3, p {
  font-family: "Roboto", sans-serif;
  color: black;
}