.contentcontacto {
  display: flex;
  flex-wrap: wrap;
}

.contacto {
  max-width: 100%;
}

.contactoimg {
  border-radius: 155px;
  max-width: 100%;
  -webkit-box-shadow: 5px 5px 10px 3px #000000;
  box-shadow: 5px 5px 10px 3px #000000;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.msgbut {
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: rgb(0, 0, 0) 5px solid;
    margin-top: 20px;
    width: 180px;
    -webkit-box-shadow: 5px 5px 10px 3px #000000;
    box-shadow: 5px 5px 10px 3px #000000;
    margin: auto;
    transition: 0.5s;
}

.msgbut:hover {
    background-color: black;
    color: white;
    border-bottom: rgb(255, 255, 255) 5px solid;
}

.labelform {
  max-width: 100%;
  text-decoration: none;
  border: none;
  -webkit-box-shadow: 1px 2px 5px 1px #000000;
  box-shadow: 1px 2px 5px 2px #000000;
  transition: 0.5s;
  border-radius: 25px;
}

.labelform:hover {
  -webkit-box-shadow: 1px 2px 5px 1px #000000;
  box-shadow: 1px 2px 5px 2px #04517e;
}

.redescontacto {
  margin-top: 25px;
  transition: all 0,3s ease-in-out;
}

.redescontacto:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 597px) {
  .about {
      margin-top: 50px;
  }
}
