.footer {
    height: 15em;
    border-top: black 1px solid;
    font-family: "Roboto", sans-serif;
}

.mapa {
    -webkit-box-shadow: 5px 5px 10px 3px #000000;
    box-shadow: 5px 5px 10px 3px #000000;
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.5s;
}

.mapa:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.links ul {
    list-style: none;
    padding: 20px 2px;
}
.marcas ul {
    list-style: none;
}
.datosEmpresa ul {
    list-style: none;
}
.contenedorli ul a {
    text-decoration: none;
    color: black;
}
.efecto-footer:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.5);
    transition: 0.3s;
}

@media only screen and (max-width: 930px) {
    .redesfoot {
        display: flex !important;
        flex-direction: row !important;
    }
}

@media only screen and (max-width: 891px) {
    .redesfoot {
        display: flex !important;
        flex-direction: row !important;
        margin: auto !important;
    }
}

@media only screen and (max-width: 891px) {
    .redesfoott {
        margin: auto !important;
    }
}

@media only screen and (max-width: 665px) {
    .mapa {
        margin: auto;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 355px) {
    .phonefoot {
        margin: auto;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 335px) {
    .datosEmpresa {
        margin: auto;
        margin-bottom: 15px;
    }
}
