.footer{
    height: 15em;
    border-top: black 6px solid;
}

.links ul  {
    list-style: none;
    padding: 20px 2px;
}
.marcas ul {
    list-style: none;
}
.datosEmpresa ul{
    list-style: none;
}
.contenedorli ul a{
    text-decoration: none;
    color: black;
}
.efecto-footer:hover{
            -webkit-transform:scale(1.10);
        -moz-transform:scale(1.10);
        -ms-transform:scale(1.10);
        -o-transform:scale(1.10);
        transform:scale(1.5);
        
         }
