.contentabout {
    margin-top: 30px;
    background-color: white;
    font-size: 50px;
}

.subtitulo h3 {
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    margin-bottom: 60px;
}

.slogan {
    border-top: black 5px solid;
    border-bottom: black 5px solid;
    width: 100% !important;
    max-height: 380px;
    min-height: 380px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 355px) {
    .tittleabout {
        font-size: 35px;
    }
}